/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * ForEx implementation : © <David Edelstein> <david.edelstein@gmail.com>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * forex.css
 *
 * ForEx stylesheet
 *
 */

 #currency_board {
     background-size: 528px 816px;
     background-image: url(img/forex_currency_board.jpg);
     background-repeat: no-repeat;
     width: 528px;
     height: 816px;
 }
