/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * ForEx implementation : © <David Edelstein> <david.edelstein@gmail.com>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * forex.css
 *
 * ForEx stylesheet
 *
 */

 @font-face {
    font-family: 'DM Mono', monospace;
    src: local('DM Mono'), url(https://fonts.googleapis.com/css2?family=DM+Mono:wght);
    font-style: normal;
    font-weight: 500;
}

:root {
    --color_cert_GBP: #ED2026;
    --color_cert_EUR: #5256A5;
    --color_cert_USD: #2BB673;
    --color_cert_CHF: #A04777;
    --color_cert_JPY: #9C8679;
    --color_cert_CAD: #5F3916;
    --color_cert_CNY: #AF7E2B;

    --color_note_GBP: #501114;
    --color_note_EUR: #201D57;
    --color_note_USD: #0B3B1E;
    --color_note_CHF: #6A0D35;
    --color_note_JPY: #362E23;
    --color_note_CAD: #3C1F12;
    --color_note_CNY: #E63A25;

    --board_h: 816px;
    --board_w: 528px;
    --contract_w: 97.66px;
    --contract_h: 150px;
    --currency_w: 150px;
    --currency_h: 97.66px;
    --scale: 0.5;
}


.frx_col_hdr {
    font-family: 'DM Mono';
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}

.frx_certs_container > * {
    /* position: relative; */
    display: inline-block;
}


/* space internal elements of contract r-l */
.frx_contract_container > * {
    margin: 0 5px;
}

 /* this holds each contract display: the promise, contract card, and payout */
.frx_contract_container {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 5px -5px;
    width: calc(100% + 5px);
}

/* contract card */
.frx_contract_card {
    background-size: calc(6 * var(--contract_w) * var(--scale)) calc(var(--contract_h) * var(--scale));
    background-image: url(img/forex_contracts.jpg);
    background-repeat: no-repeat;
    width: calc(var(--scale) * var(--contract_w));
    height: calc(var(--scale) * var(--contract_h));
    margin: 5px;
}

.frx_A {
    background-position: 0px 0px;
}

.frx_B {
    background-position: calc(-1 * var(--scale) * var(--contract_w)) 0px;
}

.frx_C {
    background-position: calc(-2 * var(--scale) * var(--contract_w)) 0px;
}

.frx_D {
    background-position: calc(-3 * var(--scale) * var(--contract_w)) 0px;
}

.frx_E {
    background-position: calc(-4 * var(--scale) * var(--contract_w)) 0px;
}

.frx_F {
    background-position: calc(-5 * var(--scale) * var(--contract_w)) 0px;
}

.frx_contract_queue_slot {
    border: 1 px black;
    border-style: solid;
    width: calc(var(--scale) * var(--contract_w));
    height: calc(var(--scale) * var(--contract_h));
    margin: 5px;
}

.frx_currency_zone {
    border: 1 px black;
    border-style: solid;
    width: calc(var(--scale) * var(--currency_w));
    height: calc(var(--scale) * var(--currency_h));
    margin: 5px;
}

.frx_cert_cntr {
    font-family: 'DM Mono';
    font-size: 24px;
    vertical-align: top;
    margin-left: 10px;
}

.frx_dividend_counter {
    font-family: 'DM Mono';
    font-size: 44px;
    font-weight: 500px;
    position: absolute;
    left: calc(var(--scale) * 0.25 * var(--contract_w));
    color: #F9F4EA;
    text-shadow:
        3px 3px 0 black,
        -1px -1px 0 black,  
        1px -1px 0 black,
        -1px 1px 0 black,
        1px 1px 0 black;
}

.frx_card_shadow {
    box-shadow: 3px 3px 10px black;
}

.frx_currency_card {
    background-size: calc(var(--currency_w) * var(--scale)) calc(7 * var(--currency_h) * var(--scale));
    background-repeat: no-repeat;
    width: calc(var(--scale) * var(--currency_w));
    height: calc(var(--scale) * var(--currency_h));
    margin: 5px;
    box-shadow: 3px 3px 10px black;
}

/* these share the same dimensions, just different sprites */
.frx_note {
    background-image: url(img/forex_notes.jpg);
}

.frx_cert {
    background-image: url(img/forex_certificates.jpg);
}

.frx_GBP {
    background-position: 0px 0px;
}

.frx_EUR {
    background-position: 0px calc(-1 * var(--scale) * var(--currency_h));
}

.frx_USD {
    background-position: 0px calc(-2 * var(--scale) * var(--currency_h));
}

.frx_CHF {
    background-position: 0px calc(-3 * var(--scale) * var(--currency_h));
}

.frx_JPY {
    background-position: 0px calc(-4 * var(--scale) * var(--currency_h));
}

.frx_CAD {
    background-position: 0px calc(-5 * var(--scale) * var(--currency_h));
}

.frx_CNY {
    background-position: 0px calc(-6 * var(--scale) * var(--currency_h));
}

/* same dims as contracts */
.frx_dividend {
    background-size: calc(5 * var(--contract_w) * var(--scale)) calc(var(--contract_h) * var(--scale));
    background-image: url(img/forex_dividends.jpg);
    background-repeat: no-repeat;
    width: calc(var(--scale) * var(--contract_w));
    height: calc(var(--scale) * var(--contract_h));
}

/* holds an rr icon and counter */
.frx_ctr_container {
    margin: 3px;
    display: inline-block;
}

.frx_ctr_container > * {
    display: inline-block;
}

.frx_ctr {
    font-family: 'DM Mono';
    font-size: 32px;
    font-weight: 700;
    vertical-align: 5px;
    text-shadow:
        1px 1px 0 white,
        -1px -1px 0 white,  
        1px -1px 0 white,
        -1px 1px 0 white,
        1px 1px 0 white;

}

.frx_curr_pr_zone {
    height: 50px;
    width: 25px;
    position: absolute;
}

.frx_curr_pr {
    background-size: 175px 25px;
    background-image: url(img/currency_markers.png);
    background-repeat: no-repeat;
    height: 25px;
    width: 25px;
    /* box-shadow: 1px 1px lightgray; */
}

.frx_pr_GBP {
    background-position: 0px 0px;    
}

.frx_pr_EUR {
    background-position: -25px 0px;
}

.frx_pr_USD {
    background-position: -50px 0px;
}

.frx_pr_CHF {
    background-position: -75px 0px;
}

.frx_pr_JPY {
    background-position: -100px 0px;
}

.frx_pr_CAD {
    background-position: -125px 0px;
}

.frx_pr_CNY {
    background-position: -150px 0px;
}

.frx_player_btn {
    display: inline-block;
    color: var(--color);
    background-color: var(--bg_color);
    border: 2px solid;
    padding: 6px 6px;
    width: fit-content;
    vertical-align: middle;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    text-overflow: ellipsis;
    text-decoration: none;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
}

#table_area {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* holds all the other containers */
#board_display {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 -5px;
    height: calc(var(--board_h) + (var(--currency_h)*var(--scale)) + 20);
}

#paper_display {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#currency_board {
    background-size: var(--board_w) var(--board_h);
    background-image: url(img/forex_currency_board_lowres.jpg);
    background-repeat: no-repeat;
    width: var(--board_w);
    height: var(--board_h);
    margin: 0 5px;
}

/* Shows all available Certificates */
#available_certs_display {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0 5px;
}

/* Holds the vertical Contract Display */
#contract_display {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0 5px;
}

#contract_queue_display {
    margin: 0 5px;
    height: 100%;
}

#contract_queue_container {
    display: flex;
    flex-direction: row;
}

#cash_container {
    margin: 5px;
}